<div style="display: flex;
align-items: center;
justify-content: center;
padding: 5vh 0 5vh 0;">

  <mat-card style="width: 80vw; height: 80vh;">

    <mat-card-title *ngIf="isQuestion">Questão {{index + 1}}</mat-card-title>
    <mat-card-title *ngIf="!isQuestion">Resposta {{index + 1}}</mat-card-title>

    <ng-container *ngFor="let label of selectedCard?.labels">
      {{label}}
    </ng-container>

    <mat-card-content>
      <p *ngIf="isQuestion">{{selectedCard?.question}}</p>
      <p *ngIf="!isQuestion" >{{selectedCard?.answer}}</p>
    </mat-card-content>

    <mat-card-actions>

      <ng-container *ngIf="selectedCard; else fim">
        <button mat-raised-button *ngIf="isQuestion" (click)="verResposta()">Ver Resposta</button>
        <button mat-raised-button color="primary" *ngIf="!isQuestion" (click)="proximaQuestao()">Próxima Questão</button>
      </ng-container>

      <ng-template #fim>
        <p>Fim</p>
        <button mat-raised-button color="warn" (click)="reiniciarQuestoes()">Clique aqui para reiniciar</button>
      </ng-template>

      </mat-card-actions>

  </mat-card>

</div>
